* {
  margin: 0;
  padding: 0;
}
:root {
  --pink: hsl(322, 100%, 66%);
  --paleCyan: hsl(193, 100%, 96%);
  --darkCyan: hsl(192, 100%, 9%);
  --grayBlue: hsl(208, 11%, 55%);
  --poppins: "Poppins", sans-serif;
  --openSans: "Open Sans", sans-serif;
}
